* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn SC', serif;
    background-image: linear-gradient(120deg, #dfba42, #fda085);
}

.app {
    
    color: #ffffff;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;

    header {
        margin-top: 1.8rem;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            padding: 0.5rem;
            font-size: 1rem;
            border: none;
            background: #fcfffa;
        }
        button {
            padding: 0.5rem;
            font-size: 1rem;
            border: none;
            background: #fcfffa;
            color: #fda085;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                background: #fda085;
                color: #fcfffa;
            }
        }
    }
    .todo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .todo-list {
            max-width: 45%;
            list-style: none;
        }
    }

    .todo {
        margin: 0.5rem;
        background: #fcfffa;
        color: #080707;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            flex: 1;
        }
        .trash-btn {
            background: #ff6f47;
            color: #ffffff;
            border: none;
            padding: 1rem;
            cursor: pointer;
            font-size: 1rem;
        }
        .complete-btn {
            background: #2cc044;
            color: #ffffff;
            border: none;
            padding: 1rem;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}